Markdown/
__pycache__/
.vs/
.vscode/
.ipynb_checkpoints/
Virtualenv/
/LPTHW/ex26_broken.py 
/updatepackages.py
Cache/
Bob's Stuff/
vcpkg/
env-test/
requirements-txt-env/
/calb.py
HangMan/
/LPTHW/__pycache__/