Markdown/
__pycache__/
.vs/
.vscode/
.ipynb_checkpoints/
Virtualenv/
/LPTHW/ex26_broken.py 
/updatepackages.py
Cache/
Bob's Stuff/
vcpkg/
env-test/
requirements-txt-env/
/calb.py
HangMan/
/LPTHW/__pycache__/
/DeepLearning/Kaggle/
*.avi
*.mp3
/MachineLearning/*-data/
/Keras/*-data/
/MachineLearning/DogsNCatsData/
/Kaggle/Predict-Sales/data/
/mnist/
/DSB3/
/PetImages/
/luna/
*.DS_STORE
/GPyT/repos/
/GPyT/token.txt
/GPyT/bob-token.txt
/GPyT/dad-token.txt
/GPyT/repos_test/
/GPyT/python_code.txt
/GPyT/tokenizer/
/GPyT/model/