Markdown/
__pycache__/
.vs/
.vscode/
.ipynb_checkpoints/
Virtualenv/
/LPTHW/ex26_broken.py 
/updatepackages.py
Cache/
Bob's Stuff/
vcpkg/
env-test/
requirements-txt-env/
/calb.py
HangMan/
/LPTHW/__pycache__/
/DeepLearning/Kaggle/
*.avi
*.mp3
/MachineLearning/ml6-data/
/MachineLearning/ml35-data/
/MachineLearning/ml39-data/
/MachineLearning/ml14-data/
/MachineLearning/ml51-data/
/MachineLearning/ml58-data/
/MachineLearning/ml60-data/
/MachineLearning/ml61-data/
/MachineLearning/ml62-data/
/MachineLearning/ml63-data/
/MachineLearning/DogsNCatsData/
/Kaggle/Predict-Sales/data/
/mnist/